NodeJS express kullanan bir backend uygulaması
MongoDB kullanılır
Bir ekosistem için ilk account oluşturma sayfası
/register /login ile hesapların yaratılması

const userSchema = new mongoose.Schema({
    device_id: { type: String, unique: true, required: true }, // Cihazın unikal ID-si
    full_name: { type: String, required: true }, // Tam ad
    password_hash: { type: String, required: true }, // Şifrə (hash olunmuş)
    profile_picture: { type: String, default: null }, // Profil şəkli (URL)
    verified: { type: Boolean, default: false }, // Hesabın doğrulanma statusu
    phone_number: { type: String, unique: true, sparse: true }, // 2FA üçün opsional nömrə
    created_at: { type: Date, default: Date.now }, // Hesab yaradılma tarixi
    last_login: { type: Date, default: null } // Son giriş tarixi
});